.menu-entry-custom {
    margin-bottom: 30px; }
    .menu-entry-custom .img {
      display: block;
      height: 200px; }
    .menu-entry-custom .text h3 {
      font-size: 18px;
      text-transform: uppercase; }
      .menu-entry-custom .text h3 a {
        color: #fff; }
    .menu-entry-custom .text .price span {
      color: #fff;
      font-size: 18px; }


      .add-cart-outline {
        color: #c49b63;
        background-color: transparent;
        background-image: none;
        border-color: #c49b63; }
        .add-cart-outline:hover {
          color: #212529;
          background-color: #c49b63;
          border-color: #c49b63; }
        .add-cart-outline:focus, .add-cart-outline.focus {
          -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.5); }
        .add-cart-outline.disabled, .add-cart-outline:disabled {
          color: #c49b63;
          background-color: transparent; }
        .add-cart-outline:not(:disabled):not(.disabled):active, .add-cart-outline:not(:disabled):not(.disabled).active,
        .show > .add-cart-outline.dropdown-toggle {
          color: #212529;
          background-color: #c49b63;
          border-color: #c49b63; }
          .add-cart-outline:not(:disabled):not(.disabled):active:focus, .add-cart-outline:not(:disabled):not(.disabled).active:focus,
          .show > .add-cart-outline.dropdown-toggle:focus {
            -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.5); }


      .add-cart-btn {
        color: #212529;
        background-color: #c49b63;
        border-color: #c49b63; }
        .add-cart-btn:hover {
          color: #212529;
          background-color: #c49b63;
          border-color: #c49b63; }
        .add-cart-btn:focus, .add-cart-btn.focus {
          -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.5); }
        .add-cart-btn.disabled, .add-cart-btn:disabled {
          color: #212529;
          background-color: #c49b63;
          border-color: #c49b63; }
        .add-cart-btn:not(:disabled):not(.disabled):active, .add-cart-btn:not(:disabled):not(.disabled).active,
        .show > .add-cart-btn.dropdown-toggle {
          color: #212529;
          background-color: #c49b63;
          border-color: #c49b63; }
          .add-cart-btn:not(:disabled):not(.disabled):active:focus, .add-cart-btn:not(:disabled):not(.disabled).active:focus,
          .show > .add-cart-btn.dropdown-toggle:focus {
            -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.5); }
            
            .btn:hover {
              cursor: pointer;
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              -ms-border-radius: 0;
              border-radius: 0;
              -webkit-box-shadow: none !important;
              box-shadow: none !important;
              font-size: 13px;
              background: #c49b63  ;
              border: 1px solid #c49b63;
              color: #000;
              padding-left: 40px;
              padding-right: 40px;
              padding-top: 15px;
              padding-bottom: 15px;
            }
            .btn {
              cursor: pointer;
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              -ms-border-radius: 0;
              border-radius: 0;
              -webkit-box-shadow: none !important;
              box-shadow: none !important;
              font-size: 13px;
              background: transparent;
              border: 1px solid #c49b63;
              color: #c49b63;
            }
            .img
 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }